/* =============
    Typography
============= */
body{
    font-family: 'Montserrat', sans-serif;
    color: $red;
    // z-index: 90;
}
h1{
    font-size: rem-calc(45);
    line-height: rem-calc(66);
    font-weight: 400;
    @include md{
    font-size: rem-calc(54);
    line-height: rem-calc(66);
    }
}
h2{
    font-size: rem-calc(30);
    line-height: rem-calc(42);
    font-weight: 400;
    @include md{
    font-size: rem-calc(34);
    line-height: rem-calc(42);
    }

}
h3{
    font-size: rem-calc(30);
    line-height: rem-calc(37);
    font-weight: 700;
    text-align: center;
}
p{
    font-size: rem-calc(20);
    line-height: rem-calc(24);
    font-weight: 300;

}
li{
    font-size: rem-calc(20);
    @include md{
        font-size: rem-calc(25);
    }
}