/* =============
    Gallery
============= */
#gallery {
    div {
        margin: 0 5vw;
@include md{
    margin: 0 7vw;
}
        ul {
            @include md{
                display: grid;
                grid-template-columns: 2(1fr);
                grid-template-rows: 3(1fr);
                column-gap: 5%;
            }
            @include lg{
                grid-template-columns: 60% 35%;

            }
            #g1 {
                background-image: url('../img/gallery/g1.jpg');
                background-position: 50% 5%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 45vh;
                margin-top: 5vh;
                width: 100%;
                @include md{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
                @include lg{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    height: 95%;
                }
            }

            #g2 {
                background-image: url('../img/gallery/g2.jpg');
                background-position: 50% 5%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 45vh;
                margin-top: 5vh;
                width: 100%;
                @include md{
                    grid-column-start: 1;
                    grid-column-end: 1;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                @include lg{
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
            }

            #g3 {
                background-image: url('../img/gallery/g3.jpg');
                background-position: 50% 5%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 45vh;
                margin-top: 5vh;
                width: 100%;
                @include md{
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
                @include lg{
                    grid-column-start: 2;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
            }
        }
    
    }
    button{
        margin-top: 10%;
        margin-left: 25%;
        @include md{
        margin-top: 10%;
        margin-left: 40%;
        }
        @include lg{
        margin-top: 5%;

        }
    }
}