/* =============
    Section 1
============= */
#section-1{
margin: 0 5vw;
#br1{
    //background-color: $peach;
    //padding: 20vh;
    //margin: -70px 0 0 -10vw;
   // z-index: 10;
   // width: 20vw;
}
#br2{
    //background-color: $peach;
    //padding: 100px;
    //margin: 100px -10vw 0 0;
    //z-index: 10;
}
#stamp{
    margin-left: 30vw;
    #img{
        
    }
    
}
#dog{
    background-image: url('../img/section1/bleh.jpg');
    background-position:50% 5%;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    margin-top: 5vh;
    width: 100%;
}
#header{
    h1{
        margin-top: 0;
    }
}
#paragraph1{
    p{

    }
}
#paragraph2{
    p{
        
    }
}
button{
    margin-top: 5vh;
    margin-left: 25vw;
}

}
