/* =============
    Buttons
============= */
button{
    background-color: $white;
    border-color: $red;
    // border-width: 2px;
    // border-radius: 27px;
    // padding: 10px 20px;
    color: $red;
}